<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<script language="javascript"
	src="/iZone/resource/js/util/require2.1.11.js" defer async="true"
	data-main="/iZone/resource/js/my/report.js"></script>
<script language="javascript" src="/iZone/resource/js/my/main.js"></script>
<link rel="stylesheet"
	href="/iZone/resource/css/util/bootstrap-theme.css">
<link rel="stylesheet" href="/iZone/resource/css/util/bootstrap.css">
<link rel="stylesheet" href="/iZone/resource/css/my/other.css">
<link rel="stylesheet"
	href="/iZone/resource/css/util/jquery.dataTables.css">
<link rel="stylesheet"
	href="/iZone/resource/css/util/bootstrap-editable.css">
<link rel="stylesheet"
	href="/iZone/resource/css/util/dataTables.tableTools.css">
<title>iZone 丨 iGate</title>
<style type="text/css">
</style>

<script type="text/javascript">
	
</script>

</head>
<body class="body">
	<div id="top"></div>
	<!-- 导航栏部分 -->
	<header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
	<div class="container" style="background-color: #fdffa9; width: 85%;">
		<nav class="collapse navbar-collapse bs-navbar-collapse"
			role="navigation">
		<ul class="nav navbar-nav">
			<li><img alt="LOGO" src="/iZone/resource/img/igate-logo.jpg"
				style="filter: alpha(opacity =                                               70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; margin-left: -10px;" />
			</li>
			<li><a href="http://localhost:8080/iZone" class="navbar-text1">Home</a></li>
			<li><a href="http://localhost:8080/iZone/pages/zhou/myZone.html" class="navbar-text1">My Zone</a></li>
			<li><a href="#" class="navbar-text1">Message<span
					class="badge pull-right">22</span></a></li>
			<!-- OA按钮，根据登陆人的类型做JS判断 然后显示相应内容，普通用户则隐藏此按钮 -->
			<li><a href="#" class="navbar-text1" id="oa_btn">OA</a></li>
			<li style="background-color: #E7E7E7;"><a
				href="http://localhost:8080/iZone/pages/ye/report.html"
				class="navbar-text1" id="report_btn">Report</a></li>
			<!-- 搜索框 -->
			<li>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Search"
							id="search_input">
					</div>
					<button class="btn btn-default" type="submit">Submit</button>
				</form>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<!-- 登陆后将hidden去掉，给上面的li加上hidden样式-->
			<div class="dropdown" style="margin-right: 20px; margin-top: 10px;"
				id="login_after">
				<a data-toggle="dropdown" href="#" id="accountmenu">Account <span
					class="caret"></span>
				</a>
				<ul class="dropdown-menu accountmenu" role="menu"
					aria-labelledby="accountmenu" id="accountdrop">
					<li><div
							style="margin-left: 15px; height: 40px; overflow: hidden;">
							<img src="/iZone/resource/img/Koala.jpg"> <span
								style="position: absolute; margin-left: 15px; color: gray; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 65px;">YiCheng
								Zhou</span>
						</div></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#"
						style="color: gray; background-image: url('/iZone/resource/img/home.png'); background-repeat: no-repeat; background-position: -330px -144px;"><span
							style="margin-left: 30px;">Setting</span></a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#"
						style="color: gray; background-image: url('/iZone/resource/img/home.png'); background-repeat: no-repeat; background-position: -330px -222px;"
						id="info_exit"><span style="margin-left: 30px;">Log out</span></a></li>
				</ul>
			</div>
		</ul>
		</nav>
	</div>
	</header>

	<!-- 页面主体部分 -->
	<div class="bodyMsg">
		<div>
			<ul id="report_tab" class="nav nav-tabs">
				<li><a data-toggle="tab" href="#table_management">Tables
						Management</a></li>
				<li><button class="btn btn-primary" style="margin-left: 800px;"
						id="create_table_btn" data-toggle="modal"
						data-target="#create_table_view">Create New Table</button></li>
			</ul>
			<div class="modal fade" id="create_table_view" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
				style="z-index: 1031;">
				<div class="modal-dialog"
					style="margin-top: 100px; width: 90%; z-index: 1032">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" id="create_exit_btn">&times;</button>
							<h3 class="modal-title text-center text-warning">Create New
								Table</h3>
						</div>
						<div class="modal-body">
							<div id="create_table_show">
								<div>
									<button class="btn btn-primary " id="create_delete_row"
										data-target="#del_row">Delete Row</button>
									<button class="btn btn-primary" id="create_add_row">Add
										Row</button>
									<button class="btn btn-primary" data-toggle="modal"
										data-target="#del_col">Delete Column</button>
									<button class="btn btn-primary" data-toggle="modal"
										data-target="#add_col">Add Column</button>
								</div>
							</div>
							<div style="margin-top: 10px;">
								<button class="btn btn-primary btn-lg btn-margin"
									style="margin-left: 550px;" id="create_save_btn">Save</button>
								<button class="btn btn-danger btn-lg btn-margin"
									id="btn_create_destory" data-toggle="modal"
									data-target="#del_table">Destory</button>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" id="create_return_btn">Return</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<div id="report_tab_Content" class="tab-content"
				style="margin-top: 10px;">
				<!-- Add New Column -->
				<div class="modal fade" id="add_col" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="margin-top: 100px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h3 class="modal-title text-center text-warning"
									id="myModalLabel">Add new column</h3>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputColName" class="col-sm-4 control-label">Column
											Name: </label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="inputColName"
												placeholder="Enter Your Column Name">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">NO</button>
								<button type="button" class="btn btn-danger" id="add_col_btn"
									data-dismiss="modal">OK</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!--Delete Row -->
				<div class="modal fade" id="del_row" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="margin-top: 100px; width: 300px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h3 class="modal-title text-center text-warning"
									id="myModalLabel">Notice!</h3>
							</div>
							<div class="modal-body text-center">
								<h4 class="text-danger">Delete these rows?</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">NO</button>
								<button type="button" class="btn btn-danger" id="del_row_btn"
									data-dismiss="modal">OK</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- Delete Column-->
				<div class="modal fade" id="del_col" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="margin-top: 100px; width: 300px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h3 class="modal-title text-center text-warning"
									id="myModalLabel">Notice!</h3>
							</div>
							<div class="modal-body text-center">
								<h4 class="text-danger">Delete these cols?</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">NO</button>
								<button type="button" class="btn btn-danger" id="del_col_btn"
									data-dismiss="modal">OK</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- Delete table -->
				<div class="modal fade" id="del_table" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="margin-top: 100px; width: 300px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h3 class="modal-title text-center text-warning"
									id="myModalLabel">Notice!</h3>
							</div>
							<div class="modal-body text-center">
								<h4 class="text-danger">Destroy the table?</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">NO</button>
								<button type="button" class="btn btn-danger" id="del_table_btn"
									data-dismiss="modal">OK</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<div class="modal fade" id="table_view" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true"
					style="z-index: 1031;">
					<div class="modal-dialog"
						style="margin-top: 100px; width: 90%; z-index: 1032">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true" id="table_view_exit">&times;</button>
								<h3 class="modal-title text-center text-warning"
									id="table_title"></h3>
							</div>
							<div class="modal-body">
								<div id="table_show">
									<div>
										<button class="btn btn-primary " id="delete_row"
											data-target="#del_row">Delete Row</button>
										<button class="btn btn-primary" id="add_row">Add Row</button>
										<button class="btn btn-primary" id="delete_col"
											data-toggle="modal" data-target="#del_col">Delete
											Column</button>
										<button class="btn btn-primary" data-toggle="modal"
											data-target="#add_col">Add Column</button>
									</div>
								</div>
								<div style="margin-top: 10px;">
									<button class="btn btn-primary btn-lg btn-margin"
										style="margin-left: 550px;" id="btn_report_save">Save</button>
									<button class="btn btn-danger btn-lg btn-margin"
										id="btn_report_destory" data-toggle="modal"
										data-target="#del_table">Destory</button>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal" id="table_view_return">Return</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<div id="table_management" class="tab-pane fade active in">
					<table class="table table-bordered " id="report_management_table">
						<thead>
							<th class="text-center">Title</th>
							<th class="text-center">Author</th>
							<th class="text-center">Time</th>
							<th class="text-center">Operation</th>
						</thead>
						<tbody class="text-center">
							<tr>
								<td class="text-primary table_title"
									style="vertical-align: middle">A small bird</td>
								<td class="text-info" style="vertical-align: middle">Yicheng
									Zhou</td>
								<td class="text-danger" style="vertical-align: middle">2014-4-1</td>
								<td>
									<button class="btn btn-primary btn-margin">View&Edit</button>
									<button class="btn btn-danger btn-margin">Delete</button>
									<button class="btn btn-warning btn-margin">Download</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>

	<!-- 页面页脚部分 -->
	<footer class="bs-footer" role="contentinfo"
		style="background: none repeat scroll 0 0 #F7F7F7;">
	<div class="container text-center">
		<div>
			Friendy Links： <a href="https://ispace.igate.com"
				style="margin: 0 14px;">ISpace</a>| <a
				href="https://ispace.igate.com" style="margin: 0 14px;">Google</a>|
			<a href="https://ispace.igate.com" style="margin: 0 14px;">Baidu</a>|
			<a href="https://ispace.igate.com" style="margin: 0 14px;">Tencent</a>
		</div>
		<p class="footmenu">
			<a href="#" style="margin: 0 14px;">About IGATE</a>| <a href="#"
				style="margin: 0 14px;">Advertisement</a>| <a href="#"
				style="margin: 0 14px;">Recruitment</a>| <a href="#"
				style="margin: 0 14px;">Call Center</a>
		</p>
		<p class="copyright">
			Copyright © 1999-
			<script type="text/javascript">
				document.write(new Date().getFullYear());
			</script>
			IGATE <a href="#">All Rights Reserved.</a>
		</p>
		<p class="text-right">iGators: 9999</p>
	</div>
	</footer>
	<a id="scrollUp" href="#top" title="Back to up"
		style="position: fixed; z-index: 199;"></a>
</body>
</html>