<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ablum Functionality</title>
<link rel="stylesheet" href="/iZone/resource/css/util/bootstrap.css">
<link rel=STYLESHEET type="text/css" href="/iZone/resource/css/util/bootstrap-theme.css">
<link rel=STYLESHEET type="text/css" href="/iZone/resource/css/util/jquery.plupload.queue.css">
<link rel=STYLESHEET type="text/css" href="/iZone/resource/css/util/jquery.ui.plupload.css">
<link rel="stylesheet" href="/iZone/resource/css/util/blueimp-gallery.min.css">
<link rel="stylesheet" href="/iZone/resource/css/util/bootstrap-image-gallery.min.css">
<link rel=STYLESHEET type="text/css" href="/iZone/resource/css/my/qida_ablum.css">
<script type="text/javascript" src="/iZone/resource/js/util/jquery-2.1.0.js"></script>
<script src="/iZone/resource/js/util/bootstrap.min.js"></script>
<script type="text/javascript" src="/iZone/resource/js/util/plupload.min.js"></script>
<script type="text/javascript" src="/iZone/resource/js/util/plupload.full.min.js"></script>
<script type="text/javascript" src="/iZone/resource/js/util/jquery.plupload.queue.js"></script>
<script src="/iZone/resource/js/util/jquery.blueimp-gallery.min.js"></script>

<script src="/iZone/resource/js/my/qida_ablum.js"></script>
</head>
<body>
     <div id="blueimp-gallery" class="blueimp-gallery">
		The container for the modal slides
		<div class="slides"></div>
		Controls for the borderless lightbox
		<h3 class="title"></h3>
		<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a> <a class="play-pause"></a>
		<ol class="indicator"></ol>
		The modal dialog, which will be used to wrap the lightbox content
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" aria-hidden="true">×</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body next"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left prev">
							<i class="glyphicon glyphicon-chevron-left"></i> Previous
						</button>
						<button type="button" class="btn btn-primary next">
							Next <i class="glyphicon glyphicon-chevron-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center" id="myModalLabel">Create
						Ablum</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="ablum_name">Ablum Name</label> <input type="text"
								class="form-control" id="ablum_name"
								placeholder="Enter Ablum Name">
						</div>
						<div class="form-group">
							<label for="ablum_description"
								placeholder="Please Enter Description about the Ablum">Description</label>
						</div>
						<textarea class="form-control" rows="3"
							style="width: 560px; height: 200px; resize: none;"
							id="ablum_description"></textarea>
						<div class="btn-group pull-right" style="margin-top: 20px;">
							<button type="button" class="btn btn-default" id="create_ablum">Create</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="modal fade" id="photo_upload" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center" id="myModalLabel2">Upload
						Photo</h4>
				</div>
				<div class="modal-body">
					<div id="html5_uploader" style="position: relative;">
						<div class="plupload_wrapper plupload_scroll">
							<div id="html5_uploader_container" class="plupload_container"
								title="Using runtime: html5">
								<div class="plupload">
									<div class="plupload_header">
										<div class="plupload_header_content">
											<div class="plupload_header_title">Select files</div>
											<div class="plupload_header_text">Add files to the
												upload queue and click the start button.</div>
										</div>
									</div>
									<div class="plupload_content">
										<div class="plupload_filelist_header">
											<div class="plupload_file_name">Filename</div>
											<div class="plupload_file_action">&nbsp;</div>
											<div class="plupload_file_status">
												<span>Status</span>
											</div>
											<div class="plupload_file_size">Size</div>
											<div class="plupload_clearer">&nbsp;</div>
										</div>
										<ul id="html5_uploader_filelist" class="plupload_filelist"
											style="position: relative;">
											<li class="plupload_droptext">Drag files here.</li>
										</ul>
										<div class="plupload_filelist_footer">
											<div class="plupload_file_name">
												<div class="plupload_buttons">
													<a href="#" class="plupload_button plupload_add"
														id="html5_uploader_browse"
														style="position: relative; z-index: 1;">Add Files</a><a
														href="#"
														class="plupload_button plupload_start plupload_disabled">Start
														Upload</a>
												</div>
												<span class="plupload_upload_status"></span>
											</div>
											<div class="plupload_file_action"></div>
											<div class="plupload_file_status">
												<span class="plupload_total_status">0%</span>
											</div>
											<div class="plupload_file_size">
												<span class="plupload_total_file_size">0 b</span>
											</div>
											<div class="plupload_progress">
												<div class="plupload_progress_container">
													<div class="plupload_progress_bar"></div>
												</div>
											</div>
											<div class="plupload_clearer">&nbsp;</div>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="html5_uploader_count"
								name="html5_uploader_count" value="0">
						</div>
						<div id="html5_18j74b14uraq10mo1tl4gm9jd59_container"
							class="moxie-shim moxie-shim-html5"
							style="position: absolute; top: 292px; left: 16px; width: 81px; height: 22px; overflow: hidden; z-index: 0;">
							<input id="html5_18j74b14uraq10mo1tl4gm9jd59" type="file"
								style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
								multiple=""
								accept="image/jpeg,image/gif,image/png,application/zip">
						</div>
					</div>
					 
					<script type="text/javascript">
$(function() {

 
    // Setup html5 version
    $("#html5_uploader").pluploadQueue({
        // General settings
        runtimes : 'html5',
        url : "restful/examples/upload",
        chunk_size : '1mb',
        unique_names : true,
         
        filters : {
            max_file_size : '10mb',
            mime_types: [
                {title : "Image files", extensions : "jpg,gif,png"},
                {title : "Zip files", extensions : "zip"}
            ]
        },
 
        // Resize images on clientside if we can
        resize : {width : 320, height : 240, quality : 90}
    });
 
 
});
</script>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


	<div class="container">

		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">Thumbnail Gallery</h1>
			</div>
			<div id="ablum_show">
				<div class="row" style="padding-left: 40px; margin-bottom: 20px">
					<button class="btn btn-default" data-toggle="modal"
						data-target="#myModal">Creat Ablum</button>
					<button class="btn btn-default" id="test">Test</button>
				</div>
				<div id="ablum_list">
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- this is the section of show respective ablum -->
			<div id="show_photo">
				<div class="row" style="padding-left: 40px; margin-bottom: 20px">
					<button class="btn btn-default" data-toggle="modal"
						data-target="#photo_upload">Upload Photo</button>
					<button class="btn btn-default" id="test">Test</button>
				</div>
				<div id="photo_list">
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" title="Banana" data-gallery href="/iZone/resource/img/400x300.gif"> <img class="img-responsive"
							src="/iZone/resource/img/400x300.gif">
						</a>
						<div class="caption" style="margin-top: 0px">
							<h3 class="text-center">Thumbnail label</h3>
						</div>
					</div>
					

				</div>
				<!-- End of showing respective ablum -->
			</div>
			<!-- End of  head div -->
		</div>

		<hr>

		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright © Company 2013</p>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>