<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

	<link rel="stylesheet" href="/iZone/resource/css/util/bootstrap.min.css">  
	<link rel="stylesheet" href="/iZone/resource/css/util/jquery.fileupload.css">
	<script type="text/javascript" src="/iZone/resource/js/util/require.js" defer async="true" data-main="/iZone/resource/js/my/filesharing_fileupload.js"></script>
	<script type="text/javascript" src="/iZone/resource/js/my/filesharing_fileupload_main.js"></script>

</head>
<body>   
	<input id="fileupload" type="file" name="files[]" >  dfff  dffff
    
	
</body>
</html>