@CHARSET "UTF-8";
body {
	width: 100%;
	height: 100%;
	font-family: "proxima-nova", Helvetica, Tahoma, Arial, sans-serif;
	/*color: #fff;
	background: #000 url('https://auth.divshot.com/images/background2.jpg') top center no-repeat;*/
	background: #000 url('/iZone/resource/img/background4.jpg') top center;
	background-size: 100% auto;
}
.allfriends {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	height: auto;
	width: 600px;
	border-radius:4px;
}
.groups {
	float: left;
	background-color: #FAFAFA;
	border-right: 1px solid #E6E6E6;
	height: 402px;
	padding: 0;
	width: 140px;
}
.new_search_box,.edit_search_box {
	position: relative;
}
.friends {
	height: 355px;
	margin-right: 3px;
	margin-top: 26px;
	/*overflow-x: hidden;
	overflow-y: auto;*/
	padding: 0 16px;
}
.search_input {
	border: 0 none;
	height: 25px;
	left: 0;
	line-height: 50px;
	padding: 0 5px;
	position: absolute;
	width: 130px;
}
.delete_button {
	border: 0 none;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 2px;
	width: 16px;
	background-color: #fff;
}
.confirm_box{
	position:relative;
	top:35px;
}
.confirm_button {
	position: absolute;
	width: 100px;
	left: 5px;
	top: 30px;
}
.new_allselected{
	position:absolute;
	left:40px;
}
.friends ul {
	margin-right: -20px;
	overflow: auto;
	list-style: none outside none;
	position: relative;
}
.friends ul li {
	width: 130px;
	/*实现文字多余宽度后就自动显示...，要加一下四个属性*/
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.new_aite,.edit_aite{
	width: 28px;
	height: 25px;
	background: url('/iZone/resource/img/aite.PNG') center no-repeat;
}
.new_user_name,.edit_user_name{
	
}
#activityManagementTable{
		width:1000px;
		table-layout: fixed;
}
#activityManagementTable tbody tr td{
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
#activityManagementTable tbody tr td:hover{
	overflow:visible;
	white-space:normal;
	word-wrap: break-word;
}
.details{
	color:green;
}
.activity_search_div{
	width:1000px;
	height:60px;
	position:relative;
	margin:0 auto;
}
.queryTypeOption{
	font-family:Roman;
	font-size:12pt;
}
.queryTypeOption option{
	width:100px;
}
.panel-heading a{
	text-decoration:none;
}
.comments_list_item{
	list-style: none outside none;
	position:relative;
	width:700px;
	left:5px;
	border:1px solid grey;
	line-height: 1.5;
	height:70px;
}
.comments_list_item_content{
    position: absolute;
    top: 4px;
    left:35px;
    width:580px;
    word-wrap: break-word;
}
.user_icon{
	left: 0;
    position: absolute;
    top: 0;
}
.user_icon img{
	width:26px;
}
.comments_item_bd{
	position:relative;
	padding-left: 5px;
}
.response_btn{
	position:absolute;
	right:0px;
	bottom:-50px;
	background-color:#fff;
}
img{
	margin: 0px;
    padding: 0px;
}
table.rowselected tbody tr {
    cursor: pointer;
}
table.dataTable tr.rowselected.odd {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.odd td.sorting_1 {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.odd td.sorting_2 {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.odd td.sorting_3 {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.even {
    background-color: #B0BED9;
}
table.dataTable tr.rowselected.even td.sorting_1 {
    background-color: #B0BED9;
}
table.dataTable tr.rowselected.even td.sorting_2 {
    background-color: #B0BED9;
}
table.dataTable tr.rowselected.even td.sorting_3 {
    background-color: #B0BED9;
}
table.display {
    clear: both;
}
#test{
	margin: 30px auto 0;
}