@CHARSET "UTF-8";
.createANewEmployeeDiv{
	width:600px;
	height:auto;
	border:1px solid yellow;
	line-height:30px;
}
.operateResumeDiv,.operateEmployeeDiv,.operateInterviewDiv,.operateReportDiv{
	margin:30px auto;
	margin-left:100px;
	width:50%;
	height:30px;
}
.uploadEmployeeExeclOperationDiv{
	margin-bottom:10px;
}
.rowselected{
	background-color:#7e7e7e;
}
.employeeManagementDiv,.resumeManagementDiv{
	margin:0 auto;
}
.interviewManagementDiv,.employeeManagementDiv,.resumeManagementDiv{
	margin:0 auto;
	width:90%;
}
table.rowselected tbody tr {
    cursor: pointer;
}
table.dataTable tr.rowselected.odd {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.odd td.sorting_1 {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.odd td.sorting_2 {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.odd td.sorting_3 {
    background-color: #9FAFD1;
}
table.dataTable tr.rowselected.even {
    background-color: #B0BED9;
}
table.dataTable tr.rowselected.even td.sorting_1 {
    background-color: #B0BED9;
}
table.dataTable tr.rowselected.even td.sorting_2 {
    background-color: #B0BED9;
}
table.dataTable tr.rowselected.even td.sorting_3 {
    background-color: #B0BED9;
}
table.display {
    clear: both;
}
table tr td{
	vertival-align:middle;
}
#deleteEmployee span,#viewEmployee span{
	font-size:15pt;
	color:#ABCABC;
	font-family:Roman;
}