.border{
	border:  solid 1px #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}

.head {
	display: block;
	width: 100px;
	height: 100px;
	margin: 20px auto;
	padding: 1px;
}
.content{
	height:800px;
}
.left{
	width:150px;
	float: left;
}
.right {
	width:690px;
	float: right;
}
.icon{
	width:105px;
	height: 105px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 1px;
}
.mod{
	width: 105px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
}
.menu{
	width: 650px;
	height:30px;
	line-height:30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.basic{
	border-bottom: solid 1px #ddd;
}
.mod_basic{
	float: right;
	margin-bottom: 1px;
}
.show_info{
	height: 660px;
}
.hid{
	width:650px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.center{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}










