<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<import resource="applicationContext.xml"/>
	
	<!-- 配置一个基于数据源的spring的事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"></bean>
	<!-- 配置注解的驱动的事务管理器 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 在业务层中使用@Transaction注解，将业务层bean添加到事物管理中 -->
	
	<!-- 开启注解配置 -->
	<context:component-scan base-package="com.igate.izone"/>
	<mvc:annotation-driven/>
	 <!-- 解决@ResponseBody中文乱码问题
    <mvc:annotation-driven >
    	<mvc:message-converters>
    		<bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >  
			    <property name="messageConverters">  
			         <list>  
			             <bean class = "org.springframework.http.converter.StringHttpMessageConverter">  
			                <property name = "supportedMediaTypes">  
			                     <list>  
			                         <value>text/plain;charset=UTF-8</value> 
			                         <value>text/html;charset=UTF-8</value>    
			                     </list>  
			                </property>  
			             </bean>  
			         </list>  
			    </property>  
			</bean> 
    	</mvc:message-converters>
    </mvc:annotation-driven>
    -->
    <mvc:default-servlet-handler />  
    <mvc:resources mapping="/resource/**" location="/resource/*"/>  
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>       
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/WEB-INF/views/"></property>
    	<property name="suffix" value=".html"></property>
    </bean>
    
    
    <!-- 配置xml与json的HttpConventer 
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" 
	p:messageConverters-ref="messageConverters"></bean>
	<util:list id="messageConverters">
		<bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"></bean>
		<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"></bean>
		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
			 <property name="supportedMediaTypes">  
                 <list>  
                     <value>text/plain;charset=UTF-8</value>  
                     <value>text/html;charset=UTF-8</value>  
                 </list>  
             </property>  
		</bean>
		<bean class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter"></bean>
	</util:list>
    -->
    <!-- 配置一个文件上传器 -->
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"
		p:maxUploadSize="15000000"
		p:defaultEncoding="utf-8"
		
	></bean>
	
	
<!-- 	<beans:bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">    
        <beans:property name="messageConverters">    
            <util:list>    
                <beans:bean class="org.springframework.http.converter.StringHttpMessageConverter">    
                    <beans:property name="supportedMediaTypes">    
                        <util:list>  
                            <beans:value>text/html;charset=UTF-8</beans:value>  
                        </util:list>    
                    </beans:property>    
                </beans:bean>    
            </util:list>    
        </beans:property>    
    </beans:bean>  -->
    
    <!-- <bean id="log4jAspect"  class="com.igate.izone.util.Log4jAspect2" >
    </bean> -->
    
    <!-- <bean id="xxxBean"  class="com.igate.izone.dao.impl.XXXDaoTest" >
    </bean> -->
    <!-- <bean id="reportDaoImpl"  class="com.igate.izone.dao.impl.ReportDaoImpl" >
    </bean> -->
    
    <!-- Spring AOP 方式一： xml文件配置方式 -->
    <!-- 打开AOP注解配置 (为哪些@Aspect切面创建代理)-->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
    
    
    <!-- <aop:config>
    	<aop:aspect id="log4jAspect2" ref="log4jAspect">
    		<aop:pointcut id="logger" expression="execution(* com.igate.izone.dao.impl.ReportDaoImpl.fetchAll*(..))"/>
    		<aop:before pointcut-ref="logger"  method="logging"/>
    	</aop:aspect>
    </aop:config> -->
    <!-- <aop:config>
    	<aop:aspect id="log4jAspect2" ref="log4jAspect">
    		<aop:pointcut id="logger" expression="execution(* *.fetch*(..))"/>
    		<aop:before pointcut-ref="logger"  method="logging"/>
    	</aop:aspect>
    </aop:config> -->
    
</beans>