.compose-rating{
          height: 25px;
          overflow: hidden;
      }
      .rating-title{
          float: left;
          width: 30%;
          color: #999;
          -moz-text-align-last: justify;
          text-align: justify;
      }

      .rating-content{
          overflow: hidden;
          zoom: 1;
          height: 23px;
          float: right;
          width: 70%;
      }

      .rating-star{
          display: inline-block;
          vertical-align: middle;
          position: relative;
          height: 23px;
          width: 120px;
          background-position: 0 0;
          margin-left: 10px;
          top: -3px;
      }

      .star-1 a{
          width: 20%;
          z-index: 6;
      }

      .rating-star a{
          background: url(<%=rootPath%>/images/star-marks.png) no-repeat;
         line-height: 23px;
         height: 23px;
         margin: 0;
         position: absolute;
         top: 0;
         left: 0;
         text-indent: -999em;
         outline: 0;
         background-position: 1000px 1000px;
     }

     .rating-star{
         background: url(<%=rootPath%>/images/star-marks.png) no-repeat;
         display: inline-block;
         vertical-align: middle;
         position: relative;
         height: 23px;
         width: 120px;
         background-position: 0 0;
         margin-left: 10px;
         top: -3px;
     }

     .star-2 a{
         width: 40%;
         z-index: 5;
     }

     .star-3 a{
         width: 60%;
         z-index: 4;
     }

     .star-4 a{
         width: 80%;
         z-index: 3;
     }

     .star-5 a{
         width: 100%;
         z-index: 2;
     }

     .star-6 a{
         width: 0%;
         z-index: 1;
     }

     .star-6 .rating-cur{
      background-position: 0 -28px;
     }